.white {
  background-color: #003f69;
  position: static;
  border: unset;
}

button {
  background-color: #f0ce4e;
  border: black;
  top: 20px;
  position: absolute;
  right: 10px;
}

.dark {
  background-color: black;
}

svg {
  color: #fff;
}

.dark .botao-dark {
  color: white;
}

.dark h1 {
  color: #ffa500;
}

.dark h4 {
  color: #ffa500;
}
.dark #img {
  border: 5px solid #ffa500;
}

a {
  color: #fff;
}

h1 {
  text-align: start;
  font-family: "Poppins", sans-serif;
  color: #f0ce4e;
  position: absolute;
  top: 100px;
}

p {
  text-align: justify;
}

#imagem {
  text-align: end;
  margin-bottom: 35px;
  margin-right: 250px;
  margin-top: 35px;
}

.color {
  color: #f0ce4e;
  font-family: "Raleway", sans-serif;
}

.texto {
  color: azure;
  padding: 10px 10px 10px 10px;
  font-family: "Open Sans", sans-serif;
}

#th {
  font-family: "Open Sans", sans-serif;
}

#img {
  border-radius: 10%;
  border: 5px solid #f0ce4e;
}

body {
  padding: 10px;
  margin-left: 100px;
}

.container {
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-areas:
    "inicio inicio"
    "escola discri"
    "contato expe"
    "contato certificado";
}

.descri {
  grid-area: discri;
}

.inicio {
  grid-area: inicio;
}

.expe {
  grid-area: expe;
}

.escola {
  grid-area: escola;
}

.certificado {
  grid-area: certificado;
}

.contato {
  grid-area: contato;
  margin: 10px;
}

.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}
.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation-iteration-count: infinite;
}

.color {
  -webkit-animation: tracking-in-expand-fwd 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation-iteration-count: infinite;
}

.botao-dark {
  position: absolute;
  width: 35px;
  right: 10px;
  top: 10px;
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: #003f69;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  h1 {
    position: static;
  }
}
